@import "./theme.css";

body {
  background-color: hsl(0, 0%, 96.5%) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.flex {
  display: flex;
}

.test {
  border: 1px solid red;
}

.h-full {
  height: 83vh !important;
}
