.sidebar {
  min-width: 25%;
}

.greyText {
  color: grey;
  margin: auto;
}

.tags {
  text-align: left;
  /* width: 300px; */
  padding-left: 50px;
}

.tag {
  border: 1px solid var(--lightgrey);
  color: var(--black);
  border-radius: 5px;
  padding: 4px 18px 4px 18px;
  font-size: 16px;
}

hr {
  color: var(--grey);
}
