.table tr th {
  font-size: 14px;
  text-align: center;
  color: black;
  font-weight: 400;
  text-transform: uppercase !important;
}

.table td {
  color: #aaa;
  font-size: 13px;
  text-align: center;
  font-weight: 700;
}

.salesTable {
  height: 388px;
  overflow-y: scroll !important;
}
