.table tr th {
  font-size: 14px;
  text-align: center;
  color: var(--black);
  font-weight: 400;
  text-transform: uppercase !important;
}

.table td {
  color: var(--grey);
  font-size: 13px;
  text-align: center;
}

.salesTable {
  max-height: 280px;
  overflow-y: scroll !important;
}
